---
interface Props {
  label: string;
}
const { label } = Astro.props;
---

<span class="inline-flex items-center px-2 md:px-2.5 py-0.5 md:py-1 rounded-md text-xs font-semibold bg-white/10 border border-white/15 text-white/70">
  {label}
</span>