---
interface Props {
  label: string;
}
const { label } = Astro.props;
---

<span class="inline-flex items-center gap-1 px-5 py-1 rounded-full text-black text-base font-medium bg-white">
  <span class="text-black">#</span>
  {label}
</span>