<footer
  class="w-full flex flex-col items-center gap-4 py-8 md:py-10 px-5 md:px-32"
>
  <p class="text-[#575757] text-xs md:text-sm text-center">
    © 2026 Woojin Jung. All rights reserved.
  </p>
</footer>