---
import { Globe } from "lucide-astro";
---

<button
  class="flex items-center gap-[5px] text-base text-white border border-white px-[10px] py-[5px] rounded-[15px]"
>
  <Globe size={19} />
  EN
</button>