---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="mb-6">
  <h2 class="text-xl md:text-2xl font-bold text-white">{title}</h2>
  <p class="mt-1.5 md:mt-2 text-[#828282] text-sm md:text-lg">{subtitle}</p>
</div>
