---
import "../styles/global.css";

const { title = "JungWJ | Portfolio", description = "정우진 포트폴리오" } = Astro.props;
---

<!DOCTYPE html>
<html lang="ko" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body class="bg-black text-white antialiased">

    <slot />

  </body>
</html>